<div class="page-header">
  <h1>Private Page</h1>
</div>
<table class="table table-bordered table-condensed table-striped">
  <thead>
    <tr>
      <th>Field</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% for (var key in user) { %>
    <tr>
      <td><%= key %></td>
      <td>
        <% if (typeof user[key] === 'object') {%>
          <% for (var jey in user[key]) { %>
            <%= jey %> = <%= JSON.stringify(user[key][jey]) %>, 
          <% } %>
        <% } else { %> 
          <%= user[key] %>
        <% } %>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>