<% layout('layout') -%>
<div class="page-header">
  <h1>Public Page</h1>
</div>
<p>My name is Leonardo Meirelles and here I should talk about the project.</p>
<script>
$(document).ready(function () {
  $('#navbar-contact').addClass('active');
});
</script>