<% layout('layout') -%>
<div class="container">
  <% if (flash.length > 0) { %>
    <% for (var a in flash) { %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Error:</strong> <%= flash[a] %>
      </div>
    <% } %>
  <% } %>
  <!-- Simple advertisement about the project. -->
  <div class="jumbotron">
    <h1>Boilerplate <small>a simple project to start others</small></h1>
    <p>A simple project that perform the authentication cycle.</p>
    <ul>
      <li><a href="http://expressjs.com/">express</a>: web application framework for node</li>
      <li><a href="http://passportjs.org/">Passport</a>: Simple, unobtrusive authentication for Node.js.</li>
      <li><a href="https://github.com/jaredhanson/passport-google">Passport Google</a>: Passport strategy for authenticating with Google using OpenID 2.0.</li>
      <li><a href="http://getbootstrap.com/">Bootstrap</a>: Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</li>
      <li><a href="http://jquery.com/">jQuery</a>: The Write Less, Do More, JavaScript Library.</li>
      <li><a href="https://github.com/visionmedia/ejs/">EJS</a>: template system</li>
      <li><a href="http://www.mongodb.org/">MongoDB</a>: MongoDB (from "humongous") is an open-source document database, and the leading NoSQL database.</li>
      <li><a href="http://mongoosejs.com/">Mongoose</a>: elegant mongodb object modeling for node.js</li>
    </ul>
  </div><!-- jumbotron -->
</div><!-- container -->