<div class="container">
  <!-- Simple advertisement about the project. -->
  <div class="jumbotron">
    <h1>Havaianas <small>a minimalistic TODO list</small></h1>
    <p>A simple prototype with login using local credentials and Google.</p>
    <ul>
      <li><a href="http://expressjs.com/">express</a>: web application framework for node</li>
      <li><a href="http://passportjs.org/">Passport</a>: Simple, unobtrusive authentication for Node.js.</li>
      <li><a href="https://github.com/jaredhanson/passport-google">Passport Google</a>: Passport strategy for authenticating with Google using OpenID 2.0.</li>
      <li><a href="http://getbootstrap.com/">Bootstrap</a>: Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</li>
      <li><a href="http://jquery.com/">jQuery</a>: The Write Less, Do More, JavaScript Library.</li>
      <li><a href="https://github.com/visionmedia/ejs/">EJS</a>: template system</li>
    </ul>
  </div><!-- jumbotron -->
</div><!-- container -->