<!DOCTYPE html>
<html lang="en">
  <head>
    <% include include-header.ejs %>
    <% include include-javascripts.ejs %>
  </head>
  <body>
    <!-- Fixed navbar -->
    <% include include-navbar.ejs %>
    
    <!-- Containers -->
    <div class="container">
      <%- body %>
    </div><!-- container -->
    <% include include-modal-login.ejs %>
  </body>
</html>